name: tests

on:
  push:
    branches: [main, test-me-*]
    tags: '**'
  schedule:
    - cron: '0 0 * * *'  # Runs at midnight every day
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    name: tests (${{ matrix.os }}, ${{ matrix.python }})
    timeout-minutes: 10

    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          python: '3.10'
        - os: ubuntu-latest
          python: '3.11'
        - os: ubuntu-latest
          python: '3.12'
        - os: ubuntu-latest
          python: '3.13'
        - os: ubuntu-latest
          python: '3.14'
    runs-on: ${{ matrix.os }}

    env:
      DIASPORA_SDK_CLIENT_ID: ${{ secrets.DIASPORA_SDK_CLIENT_ID }}
      DIASPORA_SDK_CLIENT_SECRET: ${{ secrets.DIASPORA_SDK_CLIENT_SECRET }}
      CLIENT_SCOPE: ${{ secrets.CLIENT_SCOPE }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Get pip cache dir
        id: pip-cache-dir
        run: echo "PIP_CACHE_DIR=$(pip cache dir)" >> $GITHUB_ENV

      - name: Use pip cache
        id: pip-cache
        uses: actions/cache@v5
        with:
          path: ${{ env.PIP_CACHE_DIR }}
          key: tests-${{ matrix.os }}-pip-${{ matrix.python }}-${{ hashFiles('setup.py') }}
          restore-keys: |
            tests-${{ matrix.os }}-pip-${{ matrix.python }}-

      - name: Install Packages
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install -e ".[test]"

      - name: Run Tests
        run: pytest tests/unit/apis_test.py -m integration -vv -s --log-cli-level=INFO
